In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/04/04 12:58:36 WARN Utils: Your hostname, DESKTOP-HGFEG13 resolves to a loopback address: 127.0.1.1; using 172.31.215.134 instead (on interface eth0)
22/04/04 12:58:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/04 12:58:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/04 12:58:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/04 12:58:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df_spark = spark.read.csv('../data/demo_data_3.csv', header = True, inferSchema = True)

In [6]:
df_spark.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [7]:
## drop the columns

df_spark.drop('name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|   8|         4|  1000|
|   9|         7|  2000|
|  42|        30|  3000|
|  64|        36|  4000|
|  32|        48|  5000|
|null|      null|  6000|
|  88|        13|  7000|
|  37|        75|  8000|
|  36|      null|  null|
+----+----------+------+

In [8]:
df_spark.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [9]:
df_spark.na.drop().show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takezo|  8|         4|  1000|
| Sasaki|  9|         7|  2000|
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
+-------+---+----------+------+

In [12]:
### any == how
df_spark.na.drop(how = 'all').show()
df_spark.na.drop(how = 'any').show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
|     null|  36|      null|  null|
+---------+----+----------+------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takezo|  8|         4|  1000|
| Sasaki|  9|         7|  2000|
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
+-------+---+----------+------+

In [13]:
### threshold

df_spark.na.drop(how = 'any', thresh = 2).show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
+---------+----+----------+------+

In [15]:
### subset

df_spark.na.drop(how = 'any', subset = ['age']).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takezo|  8|         4|  1000|
| Sasaki|  9|         7|  2000|
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
|   null| 37|        75|  8000|
|   null| 36|      null|  null|
+-------+---+----------+------+

In [17]:
### filling the missing values

df_spark.na.fill('Missing Value', ['name', 'experience']).show()

+-------------+----+----------+------+
|         name| age|experience|salary|
+-------------+----+----------+------+
|       Takezo|   8|         4|  1000|
|       Sasaki|   9|         7|  2000|
|       Takuan|  42|        30|  3000|
|         Otsu|  64|        36|  4000|
|         Itto|  32|        48|  5000|
|    Matahachi|null|      null|  6000|
|      Seijuro|  88|        13|  7000|
|Missing Value|  37|        75|  8000|
|Missing Value|  36|      null|  null|
+-------------+----+----------+------+

In [18]:
df_spark.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [19]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['age','experience','salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['age', 'experience', 'salary']]
    ).setStrategy('mean')

In [20]:
# add imputation ols to df
imputer.fit(df_spark).transform(df_spark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|   Takezo|   8|         4|  1000|          8|                 4|          1000|
|   Sasaki|   9|         7|  2000|          9|                 7|          2000|
|   Takuan|  42|        30|  3000|         42|                30|          3000|
|     Otsu|  64|        36|  4000|         64|                36|          4000|
|     Itto|  32|        48|  5000|         32|                48|          5000|
|Matahachi|null|      null|  6000|         39|                30|          6000|
|  Seijuro|  88|        13|  7000|         88|                13|          7000|
|     null|  37|        75|  8000|         37|                75|          8000|
|     null|  36|      null|  null|         36|                30|          4500|
+---------+----+----------+------+-----------+------------------+--------------+