In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('agg').getOrCreate()

22/04/04 14:00:50 WARN Utils: Your hostname, DESKTOP-HGFEG13 resolves to a loopback address: 127.0.1.1; using 172.31.215.134 instead (on interface eth0)
22/04/04 14:00:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/04 14:00:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/04 14:00:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/04 14:00:55 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/04/04 14:00:55 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/04/04 14:00:55 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('../data/demo_data_4.csv', header = True, inferSchema = True)

In [6]:
df_pyspark.show()

+---------+------------+------+
|     name| departments|salary|
+---------+------------+------+
|   takezo|Data Science| 10000|
|matahachi|         IOT|  5000|
|  seijuro|    Big Data|  4000|
|   takezo|    Big Data|  4000|
|     otsu|Data Science|  3000|
|     itto|Data Science| 20000|
|matahachi|         IOT| 10000|
|matahachi|    Big Data|  5000|
|     otsu|Data Science| 10000|
+---------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
## Groupby
### grouped to find maximum salary
df_pyspark.groupBy('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|  seijuro|       4000|
|matahachi|      20000|
|     itto|      20000|
|     otsu|      13000|
|   takezo|      14000|
+---------+-----------+

In [14]:
### groupby departments whci gives maximum salary
df_pyspark.groupBy('departments').mean().show()

+------------+-----------------+
| departments|      avg(salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    Big Data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [15]:
df_pyspark.groupBy('departments').count().show()

+------------+-----+
| departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [16]:
df_pyspark.agg({'salary': 'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      71000|
+-----------+