In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

22/04/04 13:40:20 WARN Utils: Your hostname, DESKTOP-HGFEG13 resolves to a loopback address: 127.0.1.1; using 172.31.215.134 instead (on interface eth0)
22/04/04 13:40:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/04 13:40:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/04 13:40:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/04/04 13:40:25 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/04/04 13:40:25 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df_pyspark = spark.read.csv('../data/demo_data_3.csv', header = True, inferSchema = True)

In [4]:
df_pyspark.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|   Takezo|   8|         4|  1000|
|   Sasaki|   9|         7|  2000|
|   Takuan|  42|        30|  3000|
|     Otsu|  64|        36|  4000|
|     Itto|  32|        48|  5000|
|Matahachi|null|      null|  6000|
|  Seijuro|  88|        13|  7000|
|     null|  37|        75|  8000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [5]:
df_pyspark = df_pyspark.na.drop()

In [6]:
df_pyspark.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takezo|  8|         4|  1000|
| Sasaki|  9|         7|  2000|
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
+-------+---+----------+------+

## filter operations

In [8]:
### Salary of the peopel less than or equal to 20000

df_pyspark.filter('salary<=2000').show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|Takezo|  8|         4|  1000|
|Sasaki|  9|         7|  2000|
+------+---+----------+------+

In [9]:
df_pyspark.filter('salary<=2000').select(['name', 'age']).show()

+------+---+
|  name|age|
+------+---+
|Takezo|  8|
|Sasaki|  9|
+------+---+

In [10]:
df_pyspark.filter(df_pyspark['salary'] <= 2000).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|Takezo|  8|         4|  1000|
|Sasaki|  9|         7|  2000|
+------+---+----------+------+

In [14]:
df_pyspark.filter((df_pyspark['salary'] <= 20000) | (df_pyspark['salary'] >= 15000)).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takezo|  8|         4|  1000|
| Sasaki|  9|         7|  2000|
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
+-------+---+----------+------+

In [15]:
df_pyspark.filter(~(df_pyspark['salary'] <= 2000)).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Takuan| 42|        30|  3000|
|   Otsu| 64|        36|  4000|
|   Itto| 32|        48|  5000|
|Seijuro| 88|        13|  7000|
+-------+---+----------+------+