In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [12]:
## read the dataset

df_pyspark = spark.read.option('header','true').csv('../data/demo_data_2.csv', inferSchema=True)

In [13]:
### Check the schema

df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [14]:
df_pyspark = spark.read.csv('../data/demo_data_2.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|experience|
+--------+---+----------+
|Takision|  8|         4|
|  Sasaki|  9|         7|
|  Takuan| 42|        30|
+--------+---+----------+

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.head(3)

[Row(Name='Takision', Age=8, experience=4),
 Row(Name='Sasaki', Age=9, experience=7),
 Row(Name='Takuan', Age=42, experience=30)]

In [17]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|experience|
+--------+---+----------+
|Takision|  8|         4|
|  Sasaki|  9|         7|
|  Takuan| 42|        30|
+--------+---+----------+

In [18]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [19]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Takision|
|  Sasaki|
|  Takuan|
+--------+

In [20]:
df_pyspark.select(['Name', 'experience']).show()

+--------+----------+
|    Name|experience|
+--------+----------+
|Takision|         4|
|  Sasaki|         7|
|  Takuan|        30|
+--------+----------+

In [21]:
df_pyspark['Name']

Column<'Name'>

In [22]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('experience', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|  Name|               Age|        experience|
+-------+------+------------------+------------------+
|  count|     3|                 3|                 3|
|   mean|  null|19.666666666666668|13.666666666666666|
| stddev|  null|19.347695814575268|14.224392195567914|
|    min|Sasaki|                 8|                 4|
|    max|Takuan|                42|                30|
+-------+------+------------------+------------------+

In [27]:
### adding columns in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['experience'] + 2)

In [28]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    Name|Age|experience|Experience After 2 years|
+--------+---+----------+------------------------+
|Takision|  8|         4|                       6|
|  Sasaki|  9|         7|                       9|
|  Takuan| 42|        30|                      32|
+--------+---+----------+------------------------+

In [30]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [31]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|experience|
+--------+---+----------+
|Takision|  8|         4|
|  Sasaki|  9|         7|
|  Takuan| 42|        30|
+--------+---+----------+

In [32]:
### rename the columns

df_pyspark = df_pyspark.withColumnRenamed('Name', 'Nome').show()

+--------+---+----------+
|    Nome|Age|experience|
+--------+---+----------+
|Takision|  8|         4|
|  Sasaki|  9|         7|
|  Takuan| 42|        30|
+--------+---+----------+